.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 2;
}
.header__container {
  width: 1250px;
  height: 100%;
  display: flex;
  padding: 0 10px;
}
.header__container {
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: #3C3C3C;
  font-size: clamp(18px, 5vw, 32px);
  font-weight: 700;
  line-height: normal;
}
.header__logo span {
  color: #FCC647;
}