.cart{
    width: 600px;
    height: 400px;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    right: calc(50% - 300px);
    top: calc(50% - 200px);
    z-index: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    @media screen and (max-width: 640px) {
        width: 95%;
        right: calc(50% - 47.5%);
    }
    &__list{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__order{
        width: 145px;
        height: 50px ;
        background-color: #FFC12F;
        color: #fff;
        border-radius: 6px;
        margin-top: 20px;
        @media screen and (max-width: 540px) {
            width: 125px;
            height: 40px;
            font-size: 14px;
        }
    }
}