@mixin block($height) {
    width: 100%;
    height: $height;
    display: flex;
    justify-content: center;
    &__container{
        width: 1250px;
        height: 100%;
        display: flex;
        padding: 0 10px;
    }
}